@font-face {
    font-family: DOS;
    src: url(../fonts/perfect_dos_vga_437/DOS_VGA.ttf);
  }

@font-face {
    font-family: BIOS;
    src: url(../fonts/ultimate_oldschool_pc_font_pack_v1.01/Px437/Px437_AMI_BIOS.ttf);
  }

body, html{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: BIOS;

}

h1{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    width: 97%;
}

.nav{
    display: flex;
    height: 3vh;
    align-items: center;
    justify-content: space-between;

}
.title_group{
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    height: 10vh;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 2rem;
    color: yellow;
    background-image:
        linear-gradient(
            blue 50%, black 50%
        );
    font-weight: 900;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: lime;
    width: 28.5%;
    justify-content: space-around;
}

.menu a{
    padding-left: 3vh;
}

.main{
    display: flex;
    flex-grow: 1;
    width: 97%;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3vh;
}

.rules{
    width: 50%;
}
.repo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 48.5%;
    height: 25vh;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
}

.repo a{
    text-decoration: none;
    color: blue;
}

.repo span{
    color: red;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 97%;
}


.rgba_btn{
    display: flex;
    height: 3vh;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.red{
    background-color: red;
}
.lime{
    background-color: lime;
}
.yellow{
    background-color: yellow;
}
.cyan{
    background-color: cyan;
}